<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div style="width: 100% ; border: 1px solid #ccc;height: 100px;">
        <h1>BADMINTON SHOP</h1>
      </div>

    <nav>
        <ul>
            <li><a href="/products" >Products</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/categories" class="active">Categories</a></li>

        </ul>
    </nav>
    <table>
        <tr>
          <th>category ID</th>
          <th>category</th>
          <th>Action</th>
        </tr>
        
        <tr>
            <td><%= categories.category_id %></td>
            <td><%= categories.category_name %></td>
            <td>
                <a href="http://localhost:5500/categories/delete/<%= categories.category_id %>">Delete</a>
            </td>
        </tr>
    </table>
    <a href="http://localhost:5500/categories">Back</a>
</body>
</html>